 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    body {
      background: #f5f5f5;
    }

    header {
      height: 160px;
      background: #fcfafa;
      color: #fff;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
     
      top: 0;
      z-index: 100;
    }
    #logo{
      width: 130px;
      height: 120px;
      font-size: 30px;
    }
    #titulo{
      color: #f3560e;
     text-align: center;
      font-size: 40px;
    }
    #titulo1{
   margin-left: 100px;
    }
    
    p{
      color: white;
    }

    h3{
      color: white;
    }

   
    .btn-menu {
      background: #0d6efd;
      color: #fff;
      border: none;
      padding: 8px 14px;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
    }

    .btn-menu:hover {
      background-color:  #084298;
    }
    #menu{
      height: 100px;
      background-color: black;
      transform: skew(-21dag);
    }

    .menu-lateral {
      position: fixed;
      top: 0;
      left: -100%;
      width: 70%;
      height: 100vh;

      background: #1a1a1a;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      transition: 0.3s ease;
      z-index: 200;
    }
     .btn-menu:hover {
      background-color:  #084298;
    }

    .menu-lateral.active {
      left: 0;
    }

    .menu-lateral a {
      color: #fff;
      text-decoration: none;
      font-size: 1.1rem;
      border-bottom: 1px solid #333;
      padding-bottom: 10px;
      margin-left: 110px;
      margin-top: 20px;
      
    }
    #menu:hover{
      color: blue;
    }
    .by{
      color: rgb(7, 2, 2);
      font-size: 30px;
    }
    .be{

      color: black;
      font-size: 30px;
      margin-left: -50px;
      padding: 10px;
      margin-top: 05px;
    }

    .cerrar {
      color: #fff;
      font-size: 1.4rem;
      align-self: flex-end;
      cursor: pointer;
    }

    @media (min-width: 768px) {
      .menu-lateral {
        position: static;
        height: auto;
        width: auto;
        flex-direction: row;
        background: transparent;
        left: 0;
        display: flex;
      }

      .menu-lateral a {
        border: none;
      }

      .cerrar {
        display: none;
      }
    }

    .contenedor {
      
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 15px;
    }

    .card {
        width: 300px;
        height: 350px;
      background: #180f0f;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      display: flex;
      flex-direction: column;
      
    }

    .card img {
      width: 100%;
      height: 230px;
     
    
    }

    .card-content {
      padding: 15px;
    }

    .card-content h3 {
      margin-bottom: 10px;
      font-size: 1.1rem;
    }

    .card-content p {
      font-size: 0.9rem;
      color: hsl(0, 0%, 100%);
      margin-bottom: 15px;
    }

    .btn-comprar {
      width: 255px;
      background: #0d6efd;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
    }

    .btn-comprar:hover {
      background: black;
    }

    
    @media (min-width: 768px) {
      .contenedor {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (min-width: 1024px) {
      .contenedor {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    .footer {
      background:#f3560e;
      background-size: cover;
      background-position: center;
      color: #fff;
      padding: 40px 15px;
      margin-top: 30px;
    }

    .footer-content {
      text-align: center;
      max-width: 500px;
      margin: auto;
      line-height: 1.6;
    }

    .footer-content h3 {
      margin-bottom: 12px;
      font-size: 1.5rem;
      letter-spacing: 1px;
    }

    .footer-content p {
      font-size: 0.95rem;
      margin-bottom: 10px;
      color: #e0e0e0;
    }

    .footer-info {
      margin: 20px 0;
      background: rgba(0,0,0,0.4);
      padding: 15px;
      border-radius: 10px;
    }

    .footer-info p {
      margin: 6px 0;
    }

    .footer-copy {
      margin-top: 20px;
      font-size: 0.8rem;
      color: #bbb;
    }
    #eudi{
      width: 100%;
      height: 800px;
     background-color: #084298;
     background-image: url("/img/5080.webp");
     background-size: cover;     
     background-position: center;
     background-repeat: no-repeat; 
     margin-top: 100px;
     display: flex;
     justify-content: center ;
     align-items: center;
     gap: 100px;
     opacity: 0.9;
    }
    #eudi12{
      width: 500px;
    border-radius: 40px;
      height: 500px; 
     background-image: url("/img/descarga.png");
     background-size: cover;     
     background-position: center;
     background-repeat: no-repeat; 
    }
    #eudi14{
      width: 500px;
     border-radius: 40px;
      height: 500px; background-color: rgba(0, 0, 0, 0.5);
      background-image: url("/img/");
     background-size: cover;     
     background-position: center;
     background-repeat: no-repeat; 
     display: flex;
     align-items: center;
     flex-direction: column;
     gap: 60px;
    }
    #modelo{
      color: white;
      margin-top: 30px;
      text-align: center;
    }
    #des{

    }
    #pa1{
      width: 400px;
      text-align: justify;
      font-size: 23px;
      
      
           
    }
    .bi{

      font-size: 20px;
    }
    #Producto-1{
      height: 190px;
    width: 190px;
      margin-left: 30px;
      margin-top: 20px;
    }
    #iPhone{
      height: 190px;
    width: 190px;
      margin-left: 30px;
      margin-top: 20px;
    }
    #producto-3{
        height: 190px;
    width: 190px;
      margin-left: 30px;
      margin-top: 20px;
    }
    #Producto-4{
       height: 190px;
    width: 100px;
      margin-left: 90px;
      margin-top: 20px; 
    }
    .by{
      color: black;
      font-size: 30px;
    }
    #pi{
      margin-left: 100px;
      font-size: 20px;
    }
    #Producto-5{
      height: 190px;
     width: 190px;
      margin-left: 35px;
      margin-top: 20px; 
    }
    #Producto-6{
           height: 190px;
     width: 190px;
      margin-left: 35px;
      margin-top: 20px;
    } 
    #Producto-8{
           height: 190px;
     width: 190px;
      margin-left: 35px;
      margin-top: 20px;
    }
    #Producto-19{
             height: 190px;
     width: 190px;
      margin-left: 35px;
      margin-top: 20px;
    }

    #Producto-19{
          height: 190px;
     width: 190px;
      margin-left: 35px;
      margin-top: 20px;
    }
    #Producto-21{
           height: 190px;
     width: 190px;
      margin-left: 35px;
      margin-top: 20px;
    }
    .top{
      
padding:20px;
color:#f3560e;
border-bottom:1px solid #222;
text-align:left;
}


.contenedor{margin-top:40px;}


.logo img{
width:300px;
}


h1{
color:#f3560e;
font-size:38px;
margin:10px 0;
}


p{
  color: black;
max-width:600px;
margin:0 auto 20px;
font-size:14px;
line-height:1.5;
}


a{
color:#1e8cff;
text-decoration:none;
margin:0 10px;
font-size:14px;
}
        