* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    body {
      background: #f5f5f5;
    }

    header {
      height: 160px;
      background: #fcfafa;
      color: #fff;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
     
      top: 0;
      z-index: 100;
    }
    #logo{
      width: 130px;
      height: 120px;
      font-size: 30px;
    }
    #titulo{
      color: #f3560e;
     text-align: center;
      font-size: 40px;
    }
    #titulo1{
   margin-left: 100px;
    }
    
    p{
      color: white;
    }

    h3{
      color: white;
    }

   
    .btn-menu {
      background: #f3560e;
      color: #fff;
      border: none;
      padding: 8px 14px;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
    }

    .btn-menu:hover {
      background-color:  #084298;
    }
    #menu{
      height: 100px;
      background-color: black;
      transform: skew(-21dag);
    }

    .menu-lateral {
      position: fixed;
      top: 0;
      left: -100%;
      width: 70%;
      height: 100vh;

      background: #1a1a1a;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      transition: 0.3s ease;
      z-index: 200;
    }
     .btn-menu:hover {
      background-color:  #084298;
    }

    .menu-lateral.active {
      left: 0;
    }

    .menu-lateral a {
      color: #fff;
      text-decoration: none;
      font-size: 1.1rem;
      border-bottom: 1px solid #333;
      padding-bottom: 10px;
      margin-left: 110px;
      margin-top: 20px;
      
    }
    #menu:hover{
      color: blue;
    }

    .cerrar {
      color: #fff;
      font-size: 1.4rem;
      align-self: flex-end;
      cursor: pointer;
    }

    @media (min-width: 768px) {
      .menu-lateral {
        position: static;
        height: auto;
        width: auto;
        flex-direction: row;
        background: transparent;
        left: 0;
        display: flex;
      }

      .menu-lateral a {
        border: none;
      }

      .cerrar {
        display: none;
      }
    }

    .contenedor {
      
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 15px;
    }

    .card {
        width: 300px;
        height: 350px;
      background: #180f0f;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      display: flex;
      flex-direction: column;
      
    }

    .card img {
      width: 100%;
      height: 230px;
     
    
    }

    .card-content {
      padding: 15px;
    }

    .card-content h3 {
      margin-bottom: 10px;
      font-size: 1.1rem;
    }

    .card-content p {
      font-size: 0.9rem;
      color: hsl(0, 0%, 100%);
      margin-bottom: 15px;
    }

    .btn-comprar {
      width: 255px;
      background: #f3560e;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
    }

    .btn-comprar:hover {
      background: black;
    }

    
    @media (min-width: 768px) {
      .contenedor {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (min-width: 1024px) {
      .contenedor {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    .footer {
      background: #f3560e;
      background-size: cover;
      background-position: center;
      color: #000000;
      padding: 40px 15px;
      margin-top: 30px;
    }

    .footer-content {
      text-align: center;
      max-width: 500px;
      margin: auto;
      line-height: 1.6;
    }

    .footer-content h3 {
      margin-bottom: 12px;
      font-size: 1.5rem;
      letter-spacing: 1px;
    }

    .footer-content p {
      font-size: 0.95rem;
      margin-bottom: 10px;
      color: #050202;
    }

    .footer-info {
      margin: 20px 0;
      background: rgba(0,0,0,0.4);
      padding: 15px;
      border-radius: 10px;
    }

    .footer-info p {
      margin: 6px 0;
    }

    .footer-copy {
      margin-top: 20px;
      font-size: 0.8rem;
      color: #bbb;
    }
    #eudi{
      width: 100%;
      height: 1000px;
     background-color: hsl(216, 90%, 31%);
     background-image: url("/img/1200_900.jpeg");
     background-size: cover;     
     background-position: center;
     background-repeat: no-repeat; 
     margin-top: 100px;
     opacity: 0.1;
     display: flex;
     justify-content: center ;
     align-items: center;
     gap: 100px;
     opacity: 0.9;
    }
    #eudi12{
      width: 500px;
    border-radius: 40px;
      height: 500px; 
     background-image: url("/img/descarga.png");
     background-size: cover;     
     background-position: center;
     background-repeat: no-repeat; 
    }
    #eudi14{
      width: 500px;
     border-radius: 40px;
      height: 500px; background-color: rgba(0, 0, 0, 0.5);
      background-image: url("/img/");
     background-size: cover;     
     background-position: center;
     background-repeat: no-repeat; 
     display: flex;
     align-items: center;
     flex-direction: column;
     gap: 60px;
    }
    #modelo{
      color: white;
      margin-top: 30px;
      text-align: center;
    }
    #des{

    }
    #pa1{
      width: 400px;
      text-align: justify;
      font-size: 23px;
      
      
           
    }
    .bi{ 
      color: black;
      font-size: 20px;
    }
    #Producto-1{
      height: 190px;
    width: 190px;
      margin-left: 30px;
      margin-top: 20px;
    }
    #iPhone{
      height: 190px;
    width: 150px;
      margin-left: 60px;
      margin-top: 20px;
    }
    #producto-3{
        height: 190px;
    width: 190px;
      margin-left: 30px;
      margin-top: 20px;
    }
    #Producto-4{
       height: 190px;
    width: 100px;
      margin-left: 90px;
      margin-top: 20px; 
    }
    .by{
      color: rgb(7, 2, 2);
      font-size: 30px;
    }
    .be{

      color: black;
      font-size: 30px;
      margin-left: -50px;
      padding: 10px;
      margin-top: 05px;
    }
    #pi{
      margin-left: 100px;
      font-size: 20px;
    }
    .seccion {
       border-top: 4px solid #f3560e;
  background: #fff;
  border-radius: 25px;
  padding: 40px;
  max-width: 1200px;
  margin: 40px auto;
}

.contenedor {
  display: flex;
  align-items: center;
  gap: 40px;
}

.info {
  flex: 1;
  border-top: 3px solid #f3560e;
}

.info h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.info p {
  color: #555;
  line-height: 1.6;
}

.acordeon {
  border-top: 1px solid #f3560e;
  margin-top: 20px;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
}

.imagenes {
  flex: 1;
  text-align: center;
}

.imagenes img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
    text-align: center;
  }
}
h1{
margin:5px 0;
}


.descripcion{
font-size:14px;
color:#faf5f5;
margin-bottom:15px;
}


.botones a{
text-decoration:none;
padding:8px 15px;
border-radius:20px;
font-size:14px;
margin:5px;
display:inline-block;
}


.info{
background:#ffffff;
color:#000000;
}


.comprar{
color:#007aff;
}
#png{
    height: 190px;
    width: 190px;
      margin-left: 30px;
      margin-top: 20px;
}
#jpg{
  height: 190px;
    width: 190px;
      margin-left: 30px;
      margin-top: 20px;
}
#we{
  height: 180px;
    width: 190px;
      margin-left: 40px;
      margin-top: 40px;
}
#re{
   height: 180px;
    width: 190px;
      margin-left: 40px;
      margin-top: 40px; 
}
.banner{
background:url('/img/poco-f8.webp') no-repeat center center;
background-size:cover;
height:600px;
color:white;
display:flex;
align-items:center;
padding:40px;
}


.contenido{
max-width:500px;
}


.contenido h1{
font-size:42px;
margin:0 0 10px 0;
}


.contenido h2{
font-size:20px;
font-weight:normal;
margin:0 0 20px 0;
}


.info{
font-size:14px;
line-height:1.6;
}


.fecha{
margin-top:20px;
color:#ffd000;
font-weight:bold;
}
.nuevo{
  color: white;
}

    
    
    

    

   